@import 'colors';
@import 'animations';

.btn{
	border-radius:0px;
	background-color:none !important;
	border:none !important;
	color:@blackish;
	margin:0px;
	padding:5px 10px 5px 10px;

}

.shadow-off, .hower-shadow-off:hover{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.shadow, .hover-shadow:hover{
	-webkit-box-shadow: 0px 8px 21px 3px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 0px 8px 21px 3px rgba(50, 50, 50, 0.55);
	box-shadow: 0px 8px 21px 3px rgba(50, 50, 50, 0.55);
}








